<div class="tile col-md-3">
  <a href=<%= movie_path(movie) %> ><%= image_tag movie.image_url, class: "img-responsive" %></a>
  <div class="movie-title">
    <%= movie.title %>
  </div>
  <div class="rating">
    <% if movie.average_rating >= 5 %>
      <div class="fresh-apple"></div>
    <% else %>
      <div class="bad-apple"></div>
    <% end %>
    <div class="movie-rating">
      <%= movie.average_rating %>/10
    </div>
  </div>
</div>